.header{
  display:flex;
  justify-content:space-between;
  align-items: center;
  padding: 20px 20px;
}

 .logo{
    display:flex;
    width: 150px;
    height: 40px;
    padding-left:40px;
}

nav{
  display:flex;
 justify-content:space-between;
 padding-left: 20px;
  
}

nav button{
  border:0;
  border:0;
  border-radius:4px;
  margin-left: 20px;
  color:white;
  background-color: rgb(222, 26, 26);
  display:flex;
  justify-content: space-between;
  padding:10px;
  width:100px;
  font-size:19px;
  font-weight:600;
  

}

.lang-btn{
  background-color:transparent;
  border-color:#ffffff;
  border-style:solid;
  border-width:1px;
  border-radius:4px;
  width:120px;
  font-weight:500;
  font-size:19px;
  margin-left: 1100px;
}

.lang-btn:hover{
  background-color: #484747;
  cursor: pointer;
}

nav button:hover{
  background-color:rgb(172, 9, 9);
  cursor:pointer;

}

/*--------------------end header part-----------------------------------*/



body{
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url('assets/images/bg.jpg');
color:white;
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height:100vh;
  overflow: hidden;
}

@media (max-width: 768px) {
  h1 {
      font-size: 2rem; /* Smaller size for smaller screens */
  }

  h3 {
      font-size: 1.2rem; /* Smaller size for smaller screens */
  }
  body {
    font-size: 14px;
}
.header, nav, button {
    padding: 20px;
    margin: 10px;
}
nav{
  padding-left: 10px;
}
}

@media (max-width: 480px) {
  h1 {
      font-size: 1.5rem; /* Further reduced size */
  }

  h3 {
      font-size: 1rem; /* Further reduced size */
  }
  body {
    font-size: 10px;
}
.header, nav, button {
    padding: 20px;
    margin: 15px;
}
}





/*---------------------------end body and responsiveness--------------------------*/




section {
  position: absolute; /* Position relative to parent */
  top: 30%; /* Move 50% from top */
  left: 18%; /* Move 50% from left */
  text-align: center; /* Center text horizontally */
}


h1 {
  font-size: 60px; /* Increase font size of h1 */
  margin-bottom: 0px; /* Add margin to move h3 down */
}

h3 {
  font-family:Helvetica,sans-serif;
  font-size: 30px;
  font: weight 7px; /* Increase font size of h3 */
}



.email button{
  background-color: rgb(212, 10, 10);
  color:white;
  border-radius: 4px;
  border-color:transparent;
}

.email button:hover{
  background-color: rgb(179, 10, 10);
  cursor:pointer;
}


/*-----------------------------------end -------------------------------------*/
